#
# Plugin configuration file for Image/J 1.31s or newer
#

# Author:   Jarek Sacha
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.31s

Plugins>Filters, "Coherence Enhancing Diffusion ...", net.sf.ij_plugins.filters.CoherenceEnhancingDiffusionPlugin("")
Plugins>Filters, "Directional Coherence ...", net.sf.ij_plugins.filters.DirectionalCoherencePlugin("")
Plugins>Filters, "Fast Median ...", net.sf.ij_plugins.filters.FastMedianPlugin("")
Plugins>Filters, "Perona-Malik Anisotropic Diffusion ...", net.sf.ij_plugins.filters.PeronMalikAnisotropicDiffusionPlugin("")
