#
# Plugin configuration file for Image/J 1.31s or newer
#

# Author:   Jarek Sacha
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.31s

# Conversion between color spaces
Plugins>Color, "RGB to CIE L*a*b* stack", net.sf.ij_plugins.color.ConvertRGBToLabStackPlugin
Help>About Plugins>Color, "RGB to CIE L*a*b* stack...", net.sf.ij_plugins.color.ConvertRGBToLabStackPlugin("about")
Plugins>Color, "CIE L*a*b* stack to RGB", net.sf.ij_plugins.color.ConvertLabStackToRGBPlugin
Help>About Plugins>Color, "CIE L*a*b* stack to RGB...", net.sf.ij_plugins.color.ConvertLabStackToRGBPlugin("about")

# Edge detection in color and multiband images
Plugins>Color, "Multiband Sobel Edges", net.sf.ij_plugins.multiband.VectorEdgeDetectorPlugin("VectorSobelEdgeOperator")
Help>About Plugins>Color, "Multiband Sobel Edge Detector...", net.sf.ij_plugins.multiband.VectorEdgeDetectorPlugin("about")
#Plugins>Color, "Multiband Difference Edge Detector", net.sf.ij_plugins.multiband.VectorEdgeDetectorPlugin("VectorDifferenceEdgeOperator")
#Plugins>Color, "Multiband Gradient Edge Detector", net.sf.ij_plugins.multiband.VectorEdgeDetectorPlugin("VectorGradientEdgeOperator")

# Intensity shift
Plugins>Color, "Intensity shift", net.sf.ij_plugins.color.IntensityShiftPlugin
Help>About Plugins>Color, "Intensity shift...", net.sf.ij_plugins.color.IntensityShiftPlugin("about")
