#
# Plugin configuration file for Image/J 1.40g or newer
#

# Author:   Jarek Sacha
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.40g


#-------------------------------------------------------------------------
# 3D IO
#
Plugins>3D IO, "MetaImage Reader ...", ij_plugins.toolkit.io.metaimage.MetaImageReaderPlugin
Plugins>3D IO, "MetaImage Writer ...", ij_plugins.toolkit.io.metaimage.MetaImageWriterPlugin
Plugins>3D IO, "VTK Reader ...", ij_plugins.toolkit.io.vtk.VtkReaderPlugin
Plugins>3D IO, "VTK Writer ...", ij_plugins.toolkit.io.vtk.VtkWriterPlugin
Plugins>3D IO, "Export as STL ...", ij_plugins.toolkit.io.ExportAsSTLPlugIn


#-------------------------------------------------------------------------
# 3D Toolkit
#
Plugins>3D Toolkit, "Connected Threshold Grower ...", ij_plugins.toolkit.im3d.grow.ConnectedThresholdGrowerPlugin
Plugins>3D Toolkit, "Auto Crop 3D", ij_plugins.toolkit.im3d.filters.AutoCrop3DPlugin
Plugins>3D Toolkit, "Morphological Dilate 3D", ij_plugins.toolkit.im3d.filters.MorphologicalDilate3DPlugin
Plugins>3D Toolkit, "Morphological Erode 3D", ij_plugins.toolkit.im3d.filters.MorphologicalErode3DPlugin
Plugins>3D Toolkit, "Median 3D", ij_plugins.toolkit.im3d.filters.Median3DPlugin


#-------------------------------------------------------------------------
# Color
#

# Conversion between color spaces
Plugins>Color, "L*a*b* Stack to RGB", ij_plugins.toolkit.color.ConvertLabStackToRGBPlugin
Help>About Plugins>Color, "About: L*a*b* Stack to RGB ...", ij_plugins.toolkit.color.ConvertLabStackToRGBPlugin("about")
Plugins>Color, "L*a*b* Stack to XYZ Stack", ij_plugins.toolkit.color.ConvertLabStackToXYZPlugin
Help>About Plugins>Color, "About: L*a*b Stack to XYZ Stack ...", ij_plugins.toolkit.color.ConvertLabStackToXYZPlugin("about")

Plugins>Color, "RGB to L*a*b* Stack", ij_plugins.toolkit.color.ConvertRGBToLabStackPlugin
Help>About Plugins>Color, "About: RGB to L*a*b* Stack ...", ij_plugins.toolkit.color.ConvertRGBToLabStackPlugin("about")
Plugins>Color, "RGB to XYZ Stack", ij_plugins.toolkit.color.ConvertRGBToXYZStackPlugin
Help>About Plugins>Color, "About: RGB to XYZ Stack ...", ij_plugins.toolkit.color.ConvertRGBToXYZStackPlugin("about")

Plugins>Color, "RGB to YCbCr Stack", ij_plugins.toolkit.color.ConvertRGBToYCbCrPlugin
Help>About Plugins>Color, "About: RGB to YCbCr Stack ...", ij_plugins.toolkit.color.ConvertRGBToYCbCrPlugin("about")

Plugins>Color, "YCbCr Stack to RGB", ij_plugins.toolkit.color.ConvertYCbCrToRGBPlugin
Help>About Plugins>Color, "About: YCbCr Stack to RGB ...", ij_plugins.toolkit.color.ConvertYCbCrToRGBPlugin("about")

Plugins>Color, "XYZ Stack to L*a*b* Stack", ij_plugins.toolkit.color.ConvertXYZStackToLabPlugin
Help>About Plugins>Color, "About: XYZ Stack to L*a*b* Stack ...", ij_plugins.toolkit.color.ConvertXYZStackToLabPlugin("about")
Plugins>Color, "XYZ Stack to RGB", ij_plugins.toolkit.color.ConvertXYZStackToRGBPlugin
Help>About Plugins>Color, "About: XYZ Stack to RGB ...", ij_plugins.toolkit.color.ConvertXYZStackToRGBPlugin("about")


Plugins>Color, "-"

Plugins>Color, "Measure Bands", ij_plugins.toolkit.color.MeasureBandsPlugin
Help>About Plugins>Color, "About: Measure Bands ...", ij_plugins.toolkit.color.MeasureBandsPlugin("about")

Plugins>Color, "-"

# Edge detection in color and multiband images
Plugins>Color, "Multiband Sobel Edges", ij_plugins.toolkit.multiband.VectorEdgeDetectorPlugin("VectorSobelEdgeOperator")
Help>About Plugins>Color, "About: Multiband Sobel Edges ...", ij_plugins.toolkit.multiband.VectorEdgeDetectorPlugin("about")
Plugins>Color, "Multiband Difference Edges", ij_plugins.toolkit.multiband.VectorEdgeDetectorPlugin("VectorDifferenceEdgeOperator")
Plugins>Color, "Multiband Gradient Edges", ij_plugins.toolkit.multiband.VectorEdgeDetectorPlugin("VectorGradientEdgeOperator")

# Intensity shift
Plugins>Color, "Intensity Shift ...", ij_plugins.toolkit.color.IntensityShiftPlugin
Help>About Plugins>Color, "About: Intensity Shift ...", ij_plugins.toolkit.color.IntensityShiftPlugin("about")

#-------------------------------------------------------------------------
# Filters
#

Plugins>Filters, "Fast Median ...", ij_plugins.toolkit.filters.FastMedianPlugin("")
Plugins>Filters, "Perona-Malik Anisotropic Diffusion ...", ij_plugins.toolkit.filters.PeronaMalikAnisotropicDiffusionPlugin("")
Plugins>Filters, "Coherence Enhancing Diffusion ...", ij_plugins.toolkit.filters.CoherenceEnhancingDiffusionPlugIn
Plugins>Filters, "Directional Coherence ...", ij_plugins.toolkit.filters.DirectionalCoherencePlugin("")
Plugins>Filters, "Speckle Reducing Anisotropic Diffusion ...", ij_plugins.toolkit.filters.SRADPlugin("")


#-------------------------------------------------------------------------
# Segmentation
#
Plugins>Segmentation, "k-means Clustering ...", ij_plugins.toolkit.clustering.KMeansClusteringPlugin("")
Plugins>Segmentation, "k-means Clustering Reapply ...", ij_plugins.toolkit.clustering.KMeansClusteringReapplyPlugin
Help>About Plugins, "About: k-means Clustering ...", ij_plugins.toolkit.clustering.KMeansClusteringPlugin("about")

Plugins>Segmentation, "Maximum Entropy Threshold", ij_plugins.toolkit.thresholding.MaximumEntropyThresholdPlugin("")
Help>About Plugins, "About: Maximum Entropy Threshold ...", ij_plugins.toolkit.thresholding.MaximumEntropyThresholdPlugin("about")

Plugins>Segmentation, "Maximum Entropy Multi-Threshold", ij_plugins.toolkit.thresholding.MaximumEntropyMultiThresholdPlugin("")
Help>About Plugins, "About: Maximum Entropy Multi-Threshold ...", ij_plugins.toolkit.thresholding.MaximumEntropyMultiThresholdPlugin("about")

Plugins>Segmentation, "Seeded Region Growing Tool ...", ij_plugins.toolkit.grow.RegionGrowingToolPlugIn
Plugins>Segmentation, "Seeded Region Growing ...", ij_plugins.toolkit.grow.RegionGrowingPlugIn
Plugins>Segmentation, "Set Pixels ...", ij_plugins.toolkit.util.SetPixelsPlugin


#-------------------------------------------------------------------------
# Image Quilter
#
Plugins>Graphics, "Image Quilter ...", ij_plugins.toolkit.quilting.ImageQuilterPlugin
Help>About Plugins, "About: Image Quilter ...", ij_plugins.toolkit.quilting.ImageQuilterPlugin("about")
