#
# Plugin configuration file for Image/J 1.31s or newer
#

# Author:   Jarek Sacha
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.31s

Plugins>Segmentation, "k-means Clustering ...", net.sf.ij.plugin.KMeansClustering("")
Help>About Plugins, "k-means Clustering...", net.sf.ij.plugin.KMeansClustering("about")
Plugins>Segmentation, "Maximum Entropy Threshold", net.sf.ij.plugin.MaximumEntropyThreshold("")
Help>About Plugins, "Maximum Entropy Threshold...", net.sf.ij.plugin.MaximumEntropyThreshold("about")
Plugins>Segmentation, "Maximum Entropy Multi-Threshold", net.sf.ij.plugin.MaximumEntropyMultiThreshold("")
Help>About Plugins, "Maximum Entropy Multi-Threshold...", net.sf.ij.plugin.MaximumEntropyMultiThreshold("about")
