#
# Plugin configuration file for Image/J 1.40g or newer
#

# Author:   Jarek Sacha
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.40g


#-------------------------------------------------------------------------
# 3D IO
#
Plugins>3D IO, "MetaImage Reader ...", net.sf.ij_plugins.io.metaimage.MetaImageReaderPlugin
Plugins>3D IO, "MetaImage Writer ...", net.sf.ij_plugins.io.metaimage.MetaImageWriterPlugin
Plugins>3D IO, "VTK Reader ...", net.sf.ij_plugins.io.vtk.VtkReaderPlugin
Plugins>3D IO, "VTK Writer ...", net.sf.ij_plugins.io.vtk.VtkWriterPlugin
Plugins>3D IO, "Export as STL ...", net.sf.ij_plugins.io.ExportAsSTLPlugIn


#-------------------------------------------------------------------------
# 3D Toolkit
#
Plugins>3D Toolkit, "Connected Threshold Grower ...", net.sf.ij_plugins.im3d.grow.ConnectedThresholdGrowerPlugin
Plugins>3D Toolkit, "Auto Crop 3D", net.sf.ij_plugins.im3d.filters.AutoClipVolumePlugin
Plugins>3D Toolkit, "Morphological Dilate 3D", net.sf.ij_plugins.im3d.filters.MorphologicalDilate3DPlugin
Plugins>3D Toolkit, "Morphological Erode 3D", net.sf.ij_plugins.im3d.filters.MorphologicalErode3DPlugin
Plugins>3D Toolkit, "Median 3D", net.sf.ij_plugins.im3d.filters.Median3DPlugin


#-------------------------------------------------------------------------
# Color
#

# Conversion between color spaces
Plugins>Color, "L*a*b* stack to RGB", net.sf.ij_plugins.color.ConvertLabStackToRGBPlugin
Help>About Plugins>Color, "L*a*b* stack to RGB...", net.sf.ij_plugins.color.ConvertLabStackToRGBPlugin("about")
Plugins>Color, "L*a*b* stack to XYZ stack", net.sf.ij_plugins.color.ConvertLabStackToXYZPlugin
Help>About Plugins>Color, "L*a*b stack to XYZ...* stack", net.sf.ij_plugins.color.ConvertLabStackToXYZPlugin("about")

Plugins>Color, "RGB to L*a*b* stack", net.sf.ij_plugins.color.ConvertRGBToLabStackPlugin
Help>About Plugins>Color, "RGB to L*a*b* stack...", net.sf.ij_plugins.color.ConvertRGBToLabStackPlugin("about")
Plugins>Color, "RGB to XYZ stack", net.sf.ij_plugins.color.ConvertRGBToXYZStackPlugin
Help>About Plugins>Color, "RGB to XYZ stack...", net.sf.ij_plugins.color.ConvertRGBToXYZStackPlugin("about")

Plugins>Color, "RGB to YCbCr stack", net.sf.ij_plugins.color.ConvertRGBToYCbCrPlugin
Help>About Plugins>Color, "About RGB to YCbCr stack...", net.sf.ij_plugins.color.ConvertRGBToYCbCrPlugin("about")

Plugins>Color, "YCbCr stack to RGB", net.sf.ij_plugins.color.ConvertYCbCrToRGBPlugin
Help>About Plugins>Color, "About YCbCr stack to RGB...", net.sf.ij_plugins.color.ConvertYCbCrToRGBPlugin("about")

Plugins>Color, "XYZ stack to L*a*b* stack", net.sf.ij_plugins.color.ConvertXYZStackToLabPlugin
Help>About Plugins>Color, "XYZ stack to L*a*b...* stack", net.sf.ij_plugins.color.ConvertXYZStackToLabPlugin("about")
Plugins>Color, "XYZ stack to RGB", net.sf.ij_plugins.color.ConvertXYZStackToRGBPlugin
Help>About Plugins>Color, "XYZ stack to RGB...", net.sf.ij_plugins.color.ConvertXYZStackToRGBPlugin("about")


Plugins>Color, "-"

Plugins>Color, "Measure Bands", net.sf.ij_plugins.color.MeasureBandsPlugin
Help>About Plugins>Color, "Measure Bands...", net.sf.ij_plugins.color.MeasureBandsPlugin("about")

Plugins>Color, "-"

# Edge detection in color and multiband images
Plugins>Color, "Multiband Sobel edges", net.sf.ij_plugins.multiband.VectorEdgeDetectorPlugin("VectorSobelEdgeOperator")
Help>About Plugins>Color, "Multiband Sobel edges...", net.sf.ij_plugins.multiband.VectorEdgeDetectorPlugin("about")
Plugins>Color, "Multiband Difference edges", net.sf.ij_plugins.multiband.VectorEdgeDetectorPlugin("VectorDifferenceEdgeOperator")
Plugins>Color, "Multiband Gradient edges", net.sf.ij_plugins.multiband.VectorEdgeDetectorPlugin("VectorGradientEdgeOperator")

# Intensity shift
Plugins>Color, "Intensity shift", net.sf.ij_plugins.color.IntensityShiftPlugin
Help>About Plugins>Color, "Intensity shift...", net.sf.ij_plugins.color.IntensityShiftPlugin("about")

#-------------------------------------------------------------------------
# Filters
#

Plugins>Filters, "Fast Median ...", net.sf.ij_plugins.filters.FastMedianPlugin("")
Plugins>Filters, "Perona-Malik Anisotropic Diffusion ...", net.sf.ij_plugins.filters.PeronaMalikAnisotropicDiffusionPlugin("")
Plugins>Filters, "Coherence Enhancing Diffusion ...", net.sf.ij_plugins.filters.CoherenceEnhancingDiffusionPlugin("")
Plugins>Filters, "Directional Coherence ...", net.sf.ij_plugins.filters.DirectionalCoherencePlugin("")
Plugins>Filters, "Speckle Reducing Anisotropic Diffusion ...", net.sf.ij_plugins.filters.SRADPlugin("")


#-------------------------------------------------------------------------
# Segmentation
#
Plugins>Segmentation, "k-means Clustering ...", net.sf.ij_plugins.clustering.KMeansClusteringPlugin("")
Plugins>Segmentation, "k-means Clustering Reapply...", net.sf.ij_plugins.clustering.KMeansClusteringReapplyPlugin
Help>About Plugins, "k-means Clustering...", net.sf.ij_plugins.clustering.KMeansClusteringPlugin("about")

Plugins>Segmentation, "Maximum Entropy Threshold", net.sf.ij_plugins.thresholding.MaximumEntropyThresholdPlugin("")
Help>About Plugins, "Maximum Entropy Threshold...", net.sf.ij_plugins.thresholding.MaximumEntropyThresholdPlugin("about")

Plugins>Segmentation, "Maximum Entropy Multi-Threshold", net.sf.ij_plugins.thresholding.MaximumEntropyMultiThresholdPlugin("")
Help>About Plugins, "Maximum Entropy Multi-Threshold...", net.sf.ij_plugins.thresholding.MaximumEntropyMultiThresholdPlugin("about")

Plugins>Segmentation, "Seeded Region Growing Tool ...", net.sf.ij_plugins.grow.RegionGrowingToolPlugIn
Plugins>Segmentation, "Seeded Region Growing ...", net.sf.ij_plugins.grow.RegionGrowingPlugIn
Plugins>Segmentation, "Set Pixels ...", net.sf.ij_plugins.util.SetPixelsPlugin


#-------------------------------------------------------------------------
# Image Quilter
#
Plugins>Graphics, "Image Quilter ...", net.sf.ij_plugins.quilting.ImageQuilterPlugin
Help>About Plugins, "Image Quilter....", net.sf.ij_plugins.quilting.ImageQuilterPlugin("about")
