#
# Plugin configuration file for Image/J 1.31s or newer
#

# Author:   Jarek Sacha
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.31s


#-------------------------------------------------------------------------
# 3D IO
#
Plugins>3D IO, "MetaImage Reader ...", net.sf.ij.io.metaimage.MetaImageReaderPlugin
Plugins>3D IO, "MetaImage Writer ...", net.sf.ij.io.metaimage.MetaImageWriterPlugin
Plugins>3D IO, "VTK Reader ...", net.sf.ij.io.vtk.VtkReaderPlugin
Plugins>3D IO, "VTK Writer ...", net.sf.ij.io.vtk.VtkWriterPlugin


#-------------------------------------------------------------------------
# 3D Toolkit
#
Plugins>3D Toolkit, "Connected Threshold Grower ...", net.sf.ij.im3d.grow.ConnectedThresholdGrowerPlugin
Plugins>3D Toolkit, "Auto Clip Volume", net.sf.ij.im3d.filters.AutoClipVolumePlugin


#-------------------------------------------------------------------------
# Image Quilter
#
Plugins>Graphics, "Image Quilter ...", net.sf.ij_plugins.quilting.ImageQuilterPlugin
Help>About Plugins, "Image Quilter....", net.sf.ij_plugins.quilting.ImageQuilterPlugin("about")
