#
# Plugin configuration file for Image/J 1.31s or newer
#

# Author:   Jarek Sacha
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.31s


Plugins>Graphics, "Image Quilter ...", net.sf.ij_plugins.quilting.ImageQuilterPlugin
Help>About Plugins, "Image Quilter....", net.sf.ij_plugins.quilting.ImageQuilterPlugin("about")
